/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
      background: var(--button-primary-hover);
      border-color: transparent;
    }
  
    a.secondary:hover {
      background: var(--button-secondary-hover);
      border-color: transparent;
    }
  
    .footer a:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
  